
<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>รายการชำระค่าสินค้าและบริการ</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  <mat-card-content>
      <table width="100%" border="0">
          <tr><td colspan="2"> </td></tr>
         
        </table>

  </mat-card-content>
  <mat-card-actions>
    <div align="center"> 
        <br>
        <button mat-raised-button color="primary" (click)="onClick('1');" >Ref#1</button>
        <button mat-raised-button color="primary" (click)="onClick('2');" >Ref#2</button><br><br>
        <button mat-raised-button color="primary" (click)="onClick('3');" >Ref#3</button>
        <button mat-raised-button color="primary" (click)="onClick('4');" >Ref#4</button><br><br>
        <button mat-raised-button color="primary" (click)="onClick('5');" >Ref#5</button>
        <button mat-raised-button color="primary" (click)="onClick('6');" >Ref#6</button><br><br>
   </div>
  </mat-card-actions>
</mat-card>


